@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,italic,500,500italic,600,600italic,700,700italic&subset=cyrillic-ext");

@import url("https://fonts.googleapis.com/css?family=Teko:300,regular,500,600,700/&subset=cyrillic-ext");

@import url("https://fonts.googleapis.com/css?family=Overpass+Mono:300");

@import url("https://fonts.googleapis.com/css?family=Stalinist+One:regular");

.header {
  padding: 0px 5px 0px 5px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  height: 116px;
}

.header__column1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 180px;
          flex: 0 0 180px;
  text-align: center;
  height: 180px;
  background-color: white;
  border-radius: 50%;
  padding: 8px 0px 0px 0px;
  z-index: 1;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 116px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 116px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33.333%;
          flex: 1 0 33.333%;
}

.header-nav__facebook {
  width: 56px;
  height: 56px;
  background-color: #EE7444;
  border-radius: 50%;
  padding: 15px 2px 0px 0px;
}

.header-nav__facebook:focus,
.header-nav__instagram:focus {
  background-color: #494242;
}

.header-nav__instagram {
  width: 56px;
  height: 56px;
  background-color: #EE7444;
  border-radius: 50%;
  padding: 13px 0px 0px 0px;
  margin-left: 16px;
}

.header-nav__menu.active {
  display: none;
}

.contacts-header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-header__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 150px 0px;
          flex: 1 150px 0;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}

.contacts-header__contacts {
  width: 58px;
  height: 58px;
  border: 5px solid #EE7444;
  margin: 0px 0px 0px 38px;
}

.contacts-header__contacts img {
  padding: 9px 0px 0px 0px;
}

.contacts-header__phone {
  color: #000000;
  white-space: nowrap;
}

.contacts-header__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bar-header__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  margin: 0px 0px 0px 10px;
}

.bar-header__person {
  position: relative;
  cursor: pointer;
  display: block;
  width: 58px;
  height: 58px;
  border: 5px solid #EE7444;
}

.bar-header__person img {
  padding-top: 11px;
}

.bar-header__person.active {
  z-index: 10;
  -webkit-box-shadow: 0 0 15px #777;
          box-shadow: 0 0 15px #777;
  border: 5px solid #494242;
  background-color: #EE7444;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.bar-header__curt {
  cursor: pointer;
  position: relative;
  display: block;
  width: 58px;
  height: 58px;
  border: 5px solid #EE7444;
}

.bar-header__curt img {
  padding-top: 12px;
}

.bar-header__curt span {
  position: absolute;
  padding: 4px 0px 0px 0px;
  top: 4px;
  right: 5px;
  width: 20px;
  height: 20px;
  font-family: Overpass Mono;
  font-weight: 300;
  background-color: #EE7444;
  font-size: 16px;
  color: #FFFFFF;
}

.burger {
  -webkit-box-shadow: 0 0 15px #494242;
          box-shadow: 0 0 15px #494242;
  overflow: hidden;
  position: absolute;
  opacity: 0;
  left: 0;
  width: 100%;
  height: 1050px;
  background-color: black;
  z-index: -1;
  top: -40px;
}

.burger__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 600px;
  padding: 80px 0px 0px 0px;
}

.burger__menu li {
  margin: 10px 0px 0px 0px;
}

.burger__menu li :hover {
  color: #ee7444;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.burger__link {
  color: white;
  font-size: 25px;
}

.burger.active {
  opacity: 1;
  z-index: 10;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  top: 0;
}

.slider {
  position: relative;
  top: -70px;
  margin-bottom: -30px;
}

.image-slider {
  position: relative;
}

.image-slider__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  padding: 0px 20px 0px 20px;
  z-index: 2;
  font-size: 60px;
  color: white;
}

.image-slider__prev {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.image-slider__prev,
.image-slider__next {
  cursor: pointer;
}

.swiperr-container {
  position: relative;
  overflow: hidden;
  max-width: 1370px;
}

.swiperr-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s;
}

.header-logo {
  text-align: center;
  font-family: Stalinist One;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(16px + 80 * (100vw / 1370));
  text-transform: uppercase;
  color: #ffffff;
}

.header-logo__color {
  color: #F7F6F3;
}

.header-logo__header-bottom {
  position: relative;
  top: calc(-10px + -57 * (100vw / 1370));
  font-family: Montserrat;
  font-weight: bold;
  font-size: calc(5px + 23 * (100vw / 1370));
  text-align: center;
  text-transform: uppercase;
  color: #EE7444;
}

.price {
  background: url(../img/Background.jpg);
  padding: 70px 0px 130px 0px;
}

.list-price__lists {
  padding: 30px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.list-price__lists :focus {
  border: 5px solid #EE7444;
}

.list-price__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 133px;
  height: 167px;
  cursor: pointer;
}

.list-price__img {
  width: 100%;
  height: 100%;
  background: url(../img/Group.svg) no-repeat center;
  margin: 0 auto;
  padding: 70px 0px 0px 0px;
  border: none !important;
}

.list-price__name {
  margin: 0 auto;
  width: 95px;
  height: 100%;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  color: #1A1A1A;
  border: none !important;
}

.carts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1130px;
  margin: 0 auto;
  padding: 30px 0px 0px 0px;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  padding: 33px 0px 0px 0px;
}

.cart__shell {
  margin: 0 auto;
  padding: 0px 24px 0px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 339px;
  max-height: 519px;
  min-height: 293px;
  background-color: white;
}

.cart__img {
  padding: 24px 0px 0px 0px;
  max-width: 293px;
  height: auto;
  margin: 0 auto;
}

.cart__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

.cart__title span {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
}

.cart__description {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 26px;
}

.bottom-cart {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0px 0px 20px 0px;
}

.bottom-cart__price {
  padding: 18px 0px 0px 0px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 36px;
  line-height: 26px;
  color: #EE7444;
}

.bottom-cart__price span {
  font-size: 20px;
}

.bottom-cart__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  width: 133px;
  height: 58px;
  text-align: center;
  font-family: Teko;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: #EE7444;
  border: 5px solid #EE7444;
}

.app {
  padding: 0px 0px 150px 0px;
  max-width: 1370px;
  margin: 0 auto;
}

.app__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 62px 0px 0px 0px;
}

.app__column1 {
  background-color: #EE7444;
}

.app__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 674px;
  height: 684px;
}

.app__img {
  max-height: 684px;
}

.app__img img {
  max-width: 100%;
}

.app__text {
  position: relative;
  top: -60px;
  max-width: 520px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 64px;
  line-height: 78px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: left;
}

.app__text span {
  color: black;
}

.app__button {
  position: relative;
  background-color: #EE7444;
  left: -111px;
  width: 284px;
  height: 81px;
  border: solid 5px white;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 24px;
  line-height: 22px;
  text-transform: uppercase;
  color: #1A1A1A;
}

.app__button span {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 24px;
  line-height: 22px;
  text-transform: uppercase;
  color: #1A1A1A;
}

.deli {
  margin: 0 auto;
  max-width: 1130px;
}

.deli__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px 0px 159px 0px;
}

.deli__column {
  margin: 0 auto;
}

.block__container {
  border: 20px solid #F7F6F3;
  width: 339px;
  height: 358px;
  margin: 30px 5px 0px 5px;
  position: relative;
}

.block__img {
  margin: 0 auto;
  width: 82px;
  height: 82px;
  padding: 30px 0px 120px 0px;
}

.block__title {
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #1A1A1A;
}

.block__body {
  padding: 12px 0px 0px 0px;
  height: 60px;
  max-width: 230px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #6B6966;
}

.block__day {
  margin: 0px 15px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.block__day span {
  display: block;
  font-family: Montserrat;
  font-size: 14px;
  color: #6B6966;
  line-height: 26px;
}

.block__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block__time span {
  display: block;
  font-family: Montserrat;
  font-size: 14px;
  color: #6B6966;
  line-height: 26px;
}

.block__btn {
  position: absolute;
  left: 33%;
  bottom: 30px;
  display: block;
  cursor: pointer;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #6B6966;
}

.footer {
  padding-top: 20px;
}

.footer__container {
  padding: 60px 0px 50px 0px;
  background-color: black;
  height: 378px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer__facebook {
  text-align: center;
  width: 56px;
  height: 56px;
  background-color: #EE7444;
  border-radius: 50%;
  margin: 0px 16px 0px 20px;
}

.footer__facebook img {
  position: relative;
  top: 12px;
}

.footer__instagram {
  text-align: center;
  width: 56px;
  height: 56px;
  background-color: #EE7444;
  border-radius: 50%;
}

.footer__instagram img {
  position: relative;
  top: 12px;
}

.footer__facebook:hover,
.footer__instagram:hover {
  background-color: #494242;
  -webkit-box-shadow: 0 0 15px #777;
          box-shadow: 0 0 15px #777;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  text-align: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__list a {
  color: white;
}

.footer__list li {
  margin: 0px 24px 0px 0px;
  font-family: Teko;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

.footer__list :last-child {
  margin: 0;
}

.footer__bottom {
  font-family: Overpass Mono;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  color: #A6A6A6;
}

.footer__bottom span {
  font-size: 14px;
  color: #FFFFFF;
}

.news {
  background: url(../img/Background.jpg);
  padding: 88px 0px 70px 0px;
}

.news__container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 80px 0px 127px 0px;
}

.news__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 10px 0px 0px 0px;
}

.news__cart {
  margin: 0 auto;
}

.news__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 231px;
  height: 84px;
  background-color: #1A1A1A;
  -webkit-box-shadow: 0 4px 0 black;
          box-shadow: 0 4px 0 black;
  border-radius: 10px;
}

.news__btn span {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.cart-news {
  margin: 10px 10px 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 519px;
  height: auto;
  background-color: white;
}

.cart-news__container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 30px 0px 31px;
  max-width: 360px;
}

.cart-news__img {
  margin: 0px 0px 39px 0px;
}

.cart-news__title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #1A1A1A;
  margin: 0px 10px 0px 0px;
}

.cart-news__content {
  padding: 27px 10px 52px 0px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 26px;
  color: #6B6966;
}

.cart-news__button {
  width: 150px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #EE7444;
  margin-bottom: 58px;
}

.cart-news__button:hover {
  color: #1A1A1A;
  -webkit-box-shadow: 0 0 10px #1A1A1A;
          box-shadow: 0 0 10px #1A1A1A;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.category__body {
  background: url(../img/Category.jpg) no-repeat center;
  max-width: 100%;
  height: 373px;
  position: relative;
  top: -70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.category__title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 34px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.category__links {
  margin: 13px 0px 0px 0px;
}

.category__links span {
  font-family: Overpass Mono;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

.category__link {
  font-family: Overpass Mono;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

.category__link:hover {
  text-decoration: underline;
}

.page {
  padding: 90px 0px 0px 0px;
}

.page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page__column {
  color: #1A1A1A;
  background-color: #FFFFFF;
  margin: 0px 40px 0px 0px;
}

.page__column :hover {
  color: #FFFFFF;
  background-color: black;
}

.page__btn {
  padding: 4px 0px 0px 0px;
  width: 60px;
  height: 60px;
  font-family: Montserrat;
  font-size: 18px;
  line-height: 52px;
  text-align: center;
  text-transform: uppercase;
}

.price {
  padding: 70px 0px 80px 0px;
}

.product {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0px 0px 40px 0px;
}

.product__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px 5px 0px 0px;
  border-top: solid 3px #bb5a00;
}

.product__img {
  margin: 0px 20px 0px 0px;
}

.product__img img {
  max-width: 100%;
}

.product__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 36px;
  line-height: 24px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #1A1A1A;
}

.product__weight {
  margin: 19px 0px 6px 0px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 26px;
  color: #6B6966;
}

.product__decription {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 26px;
  color: #6B6966;
}

.product__quantity {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 105px;
  height: 60px;
  border: 5px solid #F6F5F1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0px;
  margin: 0px 5px 0px 0px;
}

.product__quantity span {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}

.product__more {
  cursor: pointer;
  position: absolute;
  top: 2px;
  right: 2px;
  color: #EE7444;
}

.product__less {
  cursor: pointer;
  position: absolute;
  bottom: 2px;
  right: 2px;
  color: #EE7444;
}

.product__btn {
  cursor: pointer;
  width: 165px;
  height: 60px;
  background-color: #EE7444;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__btn span {
  font-family: Montserrat;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.product__price {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 36px;
  line-height: 26px;
  color: #EE7444;
  margin: 10px 0px 38px 0px;
}

.product__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.extra {
  padding: 45px 0px 100px 0px;
  background: url(../img/Background.jpg);
  margin: 0 auto;
  max-width: 1370px;
}

.extra__body {
  margin: 0 auto;
  padding: 40px 0px 0px 0px;
}

.extra__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.extra__next,
.extra__prev {
  position: relative;
  top: 25px;
  font-size: 60px;
  color: chocolate;
  cursor: pointer;
}

.extra__prev {
  margin: 0px 80px 0px 0px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.text-logo-more {
  font-size: calc(9px + 80 * (100vw / 1370));
}

body.lock {
  overflow: hidden;
}

.main {
  max-width: 1370px;
  margin: 0 auto;
  position: relative;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.ibg {
  padding: 0px 0px 60% 0px;
  overflow: hidden;
  position: relative;
}

.ibg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.body2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.curt {
  border-top: solid 5px #bb5a00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.curt__column {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  z-index: 4;
}

.curt__column p {
  width: auto;
  font-size: 25px;
  font-family: "Mntserrat";
  text-align: center;
  margin: 20px 0px 0px 0px;
}

.form {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px 10px 0px 10px;
}

.form__body {
  margin: 0 auto;
}

.form__body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(211, 206, 211, 0.3) url("../img/7VE.gif") center/350px no-repeat;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.form__body._sending::after {
  opacity: 1;
  visibility: visible;
}

.form__title {
  font-family: "Montserrat";
  font-size: 40px;
  margin: 0px 0px 30px 0px;
}

.form__item {
  margin: 20px 0px 0px 0px;
}

.form__lable {
  font-family: "Montserrat";
  font-weight: 600;
  margin: 0px 0px 0px 0px;
  font-size: 23px;
  display: block;
  margin: 0px 0px 10px 0px;
}

.form__test {
  font-size: 20px;
}

.form__input {
  height: 40px;
  padding: 0px 20px;
  width: 100%;
  font-size: 20px;
  border: solid 2px blue;
}

.form__input._error {
  -webkit-box-shadow: 0 0 15px red;
          box-shadow: 0 0 15px red;
}

.form__input:focus {
  -webkit-box-shadow: 0 0 15px #777;
          box-shadow: 0 0 15px #777;
}

.form__button {
  margin: 20px 0px 0px 0px;
  width: 100%;
  min-height: 80px;
  border-radius: 10px;
  background-color: #db700b;
  color: black;
  font-size: 25px;
  -webkit-box-shadow: 0 5px 0 black;
          box-shadow: 0 5px 0 black;
  -webkit-transition: background-color  0.5s;
  -o-transition: background-color  0.5s;
  transition: background-color  0.5s;
}

.form__button:hover {
  background-color: #5a3102;
  color: white;
}

.select {
  width: 100%;
  height: 40px;
  font-size: 25px;
  padding: 0px 0px 0px 10px;
  border: solid 2px blue;
}

.checkbox__input {
  display: none;
}

.checkbox__input:checked + .checkbox__lable::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.checkbox__lable {
  font-size: 18px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  cursor: pointer;
}

.checkbox__lable::before {
  content: '';
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-right: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 24px;
  border-radius: 8px;
  border: solid 3px blue;
}

.checkbox__lable::after {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  content: '✔';
  font-size: 20px;
  font-weight: 900;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 5px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.checkbox._error .checkbox__lable::before {
  -webkit-box-shadow: 0 0 15px red;
          box-shadow: 0 0 15px red;
}

.login.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  z-index: 10;
}

.login {
  display: none;
  width: 100%;
  height: 900px;
  background-color: rgba(255, 244, 255, 0.3);
  position: absolute;
  top: 0;
  z-index: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login__body {
  top: 100px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 350px;
          flex: 0 1 350px;
  height: 240px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #b3aaaa;
  border-radius: 30px;
  margin: 0px 20px 0px 20px;
  z-index: 10;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.login__body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(211, 206, 211, 0.3) url("../img/ZKZx.gif") center/50px no-repeat;
  opacity: 0;
  visibility: hidden;
}

.login__body._sending::after {
  content: '';
  opacity: 1;
  visibility: visible;
}

.login__block-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.login__close-button {
  cursor: pointer;
  display: block;
  width: 30px;
  height: 30px;
  color: #be5108;
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.login__close-button:hover {
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
}

.login__title {
  padding: 20px 0px 10px 0px;
  text-align: center;
  font-size: 27px;
  color: white;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 600;
}

.login__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 10px 0px 0px 0px;
}

.login__lable {
  font-size: 18px;
  display: block;
  font-family: "Montserrat";
  font-weight: 600;
}

.login__input {
  font-size: 18px;
  display: block;
  height: 25px;
  margin: 4px 0px 0px 0px;
  padding: 0px 0px 0px 10px;
  border: solid 1px blue;
  border-radius: 10px;
}

.login__input._error {
  -webkit-box-shadow: 0 0 10px red;
          box-shadow: 0 0 10px red;
}

.login__input:focus {
  -webkit-box-shadow: 0 0 15px #e66124;
          box-shadow: 0 0 15px #e66124;
}

.login__input:hover {
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
}

.login__button {
  margin: 10px 0px 20px 0px;
  width: 100px;
  height: 30px;
  background-color: #bd4b00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: bisque;
  border-radius: 13px;
}

.login__button:hover {
  background-color: #421b00;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

@media (min-width: 700px) {
  .product__btn:hover {
    background-color: #EE7444;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    -webkit-box-shadow: 0px 0px 15px #EE7444;
            box-shadow: 0px 0px 15px #EE7444;
  }

  .product__btn:hover span {
    color: black;
  }
}

@media (min-width: 760px) {
  .news__btn:hover {
    background-color: #EE7444;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    -webkit-box-shadow: 0 6px 0px black;
            box-shadow: 0 6px 0px black;
  }

  .news__btn:hover span {
    color: #1A1A1A;
    font-weight: 900;
  }
}

@media (min-width: 765px) {
  .extra__btn :hover {
    color: black;
  }
}

@media (min-width: 776px) {
  .image-slider__prev:hover,
  .image-slider__next:hover {
    color: #ee7444;
  }
}

@media (min-width: 1000px) {
  .burger__close {
    cursor: pointer;
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .burger__close::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: azure;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .burger__close::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: azure;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@media (min-width: 1001px) {
  .header-nav__burger.active {
    display: none;
  }

  .header-nav__menu {
    color: white;
    text-align: center;
    line-height: 57px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 18px;
  }

  .header-nav__burger {
    cursor: pointer;
    width: 158px;
    height: 58px;
    background-color: #EE7444;
    z-index: 8;
  }
}

@media (min-width: 1001px) and (min-width: 1024px) {
  .header-nav__burger:hover {
    background-color: #494242;
    -webkit-box-shadow: 0 0 15px #777;
            box-shadow: 0 0 15px #777;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
}

@media (min-width: 1024px) {
  .header-nav__facebook:hover,
  .header-nav__instagram:hover {
    background-color: #494242;
    -webkit-box-shadow: 0 0 15px #777;
            box-shadow: 0 0 15px #777;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  .contacts-header__phone:hover {
    color: #0a0a14;
    -webkit-box-shadow: 0 0 10px #0d0d1a;
            box-shadow: 0 0 10px #0d0d1a;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  .bar-header__curt:hover span {
    background-color: #494242;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  .bar-header__phone:hover {
    color: #0a0a14;
    -webkit-box-shadow: 0 0 10px #0d0d1a;
            box-shadow: 0 0 10px #0d0d1a;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  .bar-header__person:hover,
  .bar-header__curt:hover {
    -webkit-box-shadow: 0 0 15px #777;
            box-shadow: 0 0 15px #777;
    border: 5px solid #494242;
    background-color: #EE7444;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  .list-price__lists :hover {
    border: 5px solid #EE7444;
  }

  .bottom-cart__button:hover {
    color: white;
    background-color: #EE7444;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    -webkit-box-shadow: 0px 0px 15px #EE7444;
            box-shadow: 0px 0px 15px #EE7444;
  }
}

@media (max-width: 1360px) {
  .app__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1140px) {
  .deli__container {
    padding: 0px 0px 30px 0px;
  }
}

@media (max-width: 1024px) {
  .bar-header__person:focus,
  .bar-header__curt:focus {
    background-color: #EE7444;
  }

  .bottom-cart__button:active {
    background-color: #494242;
  }
}

@media (max-width: 1000px) {
  .contacts-header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header-nav__menu {
    display: none;
  }

  .header-nav__burger {
    z-index: 10;
    display: block;
    position: relative;
    min-width: 40px;
    height: 30px;
    top: 0px;
    left: 30px;
  }

  .header-nav__burger.burger.active {
    position: fixed;
  }

  .header-nav__burger span {
    position: absolute;
    background-color: #ee7444;
    width: 100%;
    height: 4px;
    left: 0;
    top: 13px;
  }

  .header-nav__burger::after,
  .header-nav__burger::before {
    content: '';
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    background-color: #ee7444;
    position: absolute;
    width: 100%;
    height: 4px;
  }

  .header-nav__burger::after {
    bottom: 0;
  }

  .header-nav__burger::before {
    top: 0;
  }

  .header-nav__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header-nav__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 9px;
  }

  .header-nav__burger.active span {
    display: none;
  }

  .header-nav__icon {
    display: none;
  }

  .header-nav__leng {
    width: 95px;
    height: 58px;
  }

  .mod {
    display: none;
  }
}

@media (max-width: 768px) {
  .cart__shell {
    margin: 0px 5px;
  }

  .cart__img img {
    max-width: 100%;
  }

  .cart__title {
    font-size: calc(6px + 11 * (100vw / 768));
  }

  .cart__title span {
    font-size: calc(4px + 10 * (100vw / 768));
  }

  .cart__description {
    font-size: calc(5px + 10 * (100vw / 768));
    line-height: 14px;
  }

  .bottom-cart__price {
    font-size: calc(10px + 26 * (100vw / 768));
  }

  .bottom-cart__price span {
    font-size: calc(6px + 14 * (100vw / 768));
  }

  .bottom-cart__button {
    width: calc(33px + 80 * (100vw / 768));
    font-size: calc(6px + 12 * (100vw / 768));
    height: calc(10px + 48 * (100vw / 768));
    border: 3px solid #EE7444;
  }

  .app {
    padding: 0px 0px 30px 0px;
  }

  .news {
    padding: 30px 0px 30px 0px;
  }

  .news__container {
    padding: 30px 0px 37px 0px;
  }

  .product__decription {
    line-height: 20px;
  }
}

@media (max-width: 767px) {
  .extra__body {
    padding: 0px 0px 0px 0px;
  }
}

@media (max-width: 765px) {
  .extra__prev {
    margin: 0px 30px 0px 0px;
  }
}

@media (max-width: 740px) {
  .header-nav__column {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (max-width: 700px) {
  .product__title {
    font-size: 23px;
  }
}

@media (max-width: 670px) {
  .cart {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .app__container {
    padding: 0px 0px 40px 0px;
  }

  .app__column1 {
    padding: 0px 0px 80px 0px;
  }

  .app__column {
    height: auto;
  }

  .app__text {
    margin: 0px 0px 0px 20px;
    top: 0;
    padding: 0px 0px 30px 0px;
    font-size: 30px;
    line-height: 48px;
  }

  .app__button {
    width: 184px;
    height: 81px;
    left: -26%;
    line-height: 15px;
  }

  .app__button span {
    font-size: 20px;
  }
}

@media (max-width: 650px) {
  .header-nav__column1 {
    display: none;
  }
}

@media (max-width: 640px) {
  .product__quantity {
    width: calc(25px + 80 * (100vw / 640));
    height: calc(20px + 40 * (100vw / 640));
    margin: 0px 20px 0px 0px;
    font-size: 12px;
  }

  .product__btn {
    width: calc(25px + 80 * (100vw / 640));
    height: calc(20px + 40 * (100vw / 640));
    margin: 0px 20px 0px 0px;
    font-size: calc(6px + 12 * (100vw / 640));
  }
}

@media (max-width: 600px) {
  .product__title {
    font-size: calc(5px + 18 * (100vw / 600));
  }

  .product__weight {
    margin: 0px 0px 0px 0px;
  }

  .product__decription {
    font-size: calc(4px + 10 * (100vw / 600));
  }

  .product__price {
    font-size: calc(15px + 20 * (100vw / 600));
    padding: 10px 0px 0px 0px;
    margin: 0px 0px 5px 0px;
  }
}

@media (max-width: 520px) {
  .footer__container {
    padding: 30px 0px 20px 0px;
    height: 278px;
  }

  .footer__logo {
    font-size: 20px;
  }

  .footer__facebook,
  .footer__instagram {
    width: 46px;
    height: 46px;
  }

  .footer__facebook img,
  .footer__instagram img {
    position: relative;
    top: 9px;
  }

  .footer__list li {
    margin: 0px 14px 0px 0px;
  }
}

@media (max-width: 500px) {
  .product__more {
    top: 22%;
  }

  .product__less {
    display: block;
    width: 20px;
    top: 22%;
    left: 0;
  }
}

@media (max-width: 470px) {
  .app__button {
    left: -14%;
  }

  .app__button span {
    font-size: 20px;
  }

  .news__btn {
    width: 200px;
    height: 70px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .cart-news__content {
    padding: 20px 10px 25px 0px;
  }

  .cart-news__button {
    margin-bottom: 30px;
  }
}

@media (max-width: 450px) {
  .header__column1 img {
    max-width: 100px;
    max-height: 100px;
  }

  .header__column1 {
    height: 110px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 110px;
            flex: 0 0 110px;
  }

  .bar-header__person {
    width: 40px;
    height: 40px;
  }

  .bar-header__person img {
    padding-top: 7px;
  }

  .bar-header__curt img {
    padding-top: 9px;
  }

  .bar-header__curt span {
    top: 2px;
    right: 2px;
  }

  .bar-header__curt {
    width: 40px;
    height: 40px;
    position: relative;
  }

  .slider {
    top: -28px;
  }

  .image-slider__nav {
    font-size: 35px;
  }

  .category__body {
    top: -30px;
    height: 200px;
  }
}

@media (max-width: 450px) and (max-width: 450px) {
  .bar-header__person img {
    padding-top: 5px;
  }
}

@media (max-width: 380px) {
  .cart__shell {
    padding: 0px 10px 0px 10px;
  }
}

@media (max-width: 340px) {
  .header-logo__color {
    font-size: 30px;
  }

  .block__container {
    width: 310px;
  }
}

.webp .price{ background: url(../img/Background.webp); }

.webp .news{ background: url(../img/Background.webp); }

.webp .category__body{ background: url(../img/Category.webp) no-repeat center; }

.webp .extra{ background: url(../img/Background.webp); }